html,
body {
    height: 100%;
}
hr{
    border: none;
    color: white;
    background-color: white;
    height: 2px;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(../images/cinema.jpg);
    background-size: 100%;
    color: white;
}
#img-radius{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
#loginForm div, #registrationForm div, #userForm div {
    width: 160px;
    height: 24px;
}

#loginForm, #registrationForm, #userForm {
    width: 380px;
}

div#roles {
    width: 380px;
}
button {
    width: 170px;
    font-size: 16px;
    height: 24px;
    margin: 5px;
}

div {
    display: inline-block;
    font-size: 18px;
    margin: 5px;
    color: white;
    border-radius: 10px;
}

.films{
    flex: 1 0 auto;
    margin: 10px;
    color: white;
    background-color: #938791;
    margin-left: 150px;
    margin-right: 150px;
}

h3, h4 {
    margin: 10px 20px;
}

.error {
    font-size: 14px;
    color: #38ff00;;
    display: block;
    width: 100%;
}

.grey {
    color: grey;
}
.error-green {
    color: #38ff00;;
}

.green {
    color: green;
}

.blue {
    color: blue;
}
.black{
    color: black;
}

/*            NAVIGATION MENU            */
.navbar{
    margin: 0px;
    margin-top: 20px;
    background-color: #938791;
    width: 100%;
    color: white;
}

.week {
    margin: 0px;
    margin-top: 10px;
    background-color: #938791;
    height: 28px;
    width: 100%;
    color: white;
    text-align: center;
}

.navbar div{
    margin: 0;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
    height: 60px;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: block;
    height: 60px;
    padding: 5px;
}
.username{
    text-decoration: none;
    color: black;
    display: block;
    height: 60px;
    padding: 5px;
    font-size: 18px;
}
.week div {
    margin: 0;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
    height: 30px;
    font-size: 16px;
    width: calc(100%/7 - 25px);
}

.week a {
    text-decoration: none;
    color: white;
    display: block;
    height: 30px;
    padding: 0px 0px 0px 0px;
}

.navbar a:hover, .week a:hover {
    text-decoration: none;
    background-color: #594757;
}

div#authorized {
    width: 300px;
    float: right;
}

div#logout {
    width: 90px;
    float: right;
    font-size: 18px;
}

div span {
    font-size: 14px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #938791;
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
}

.lang {
    min-width: 45px;
}
/*==*/
.sort{
    margin: 0px;
    margin-top: 20px;
    background-color: #938791;
    width: 100%;
    color: white;
}
.sort div{
    margin: 0;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
    height: 30px;
}
.sort a {
    text-decoration: none;
    color: white;
    display: block;
    height: 60px;
    padding: 5px;
}
.sort a:hover{
    text-decoration: none;
    background-color: #594757;
}

.sort-dropdown{
    display: none;
    position: absolute;
    background-color: #938791;
    height: 40px;
    min-width: 90px;
    z-index: 1;
    border-radius: 10px;
}
/*==*/
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #938791;
    border-radius: 5px;
}
.footer {
    flex: 0 0 auto;
    text-align: center;
    margin: 0;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #938791;
    padding-top: 10px;
    color: white;
}
/*            TABLES            */

table {
    width: calc(100% - 20px);
    min-width: 800px;
    margin: 10px;
    font-size: 1.2em;
}

th, td {
    padding: 5px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #594757;
}

tr:nth-child(even) {
    background-color: #938791;
}
.error-page {
    background-image: url(../images/nokino.jpg);
    background-size: 100%;
    color: red;
}

.check-box{
    padding: 10px;
    vertical-align: middle;
}

.entry{
    border: 1px;
    border-color: white;
    border: solid;
    margin-bottom: 20px;
    position: relative;

    border-radius: 10px;
    display: block;
}
.entry-title{
    font-size: 1.1875em;
    margin: 11px 15px 0;
    text-transform: none;

    box-sizing: border-box;
    outline: none;
    display: block;
}
.active{
    float: right;
    background: #ececec;
    font-size: 14px;
    padding: 5px;
    border-radius: 3px;
}
.entry_header-divider {
    margin-top: 12px;
    margin-bottom: 15px;
}
.entry_content {
    overflow: hidden;
    position: relative;
    display: block;
}
.entry_content-description {
    padding-bottom: 10px;
    max-width: 1000px;
    min-width: 400px;
    text-align: justify;
    margin-left: 60px;
}
.entry_info {
    margin-top: 40px;
    margin-bottom: 5px;
    margin-left: 200px;
    padding: 15px;
    position: relative;
    text-allign: left;
    z-index: 1;
}
.entry-active{
    float: right;
    background: #ececec;
    font-size: 15px;
    padding: 5px;
    border-radius: 3px;
    color: black;
    padding-bottom: 5px;
}